.container{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
}

.container canvas {
    height: 400px !important;
    max-width: 100%;
}

.charts_graph{
    display: flex;
    /* flex-grow: 1 !important; */
}
@media(max-width:770px){
    .container{
        width: 100%;
    }
}